cryptography==41.0.1
flask_api==3.0.post1
flask-babel-js==1.0.2 # https://github.com/emdemir/Flask-Babel-JS/issues/7
flask-babel==2.0.0
flask==2.3.2
psycopg2==2.9.5
pyjwt==2.6.0
qrcode==7.3.1
requests==2.31.0
maturin==1.2.3
