<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Social media" />
    <meta name="author" content="Radu-Alexandru Popa" />
    <meta name="description" content="Simple social media web application" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" /> {% block extra_head %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="header-nav">
            <ul>
                <li>
                    <a href="/">
                        <img src="{{ url_for('static', filename='logo.png') }}" alt="{{ _('Logo') }}" id="logo" />
                    </a>
                </li>
                <li>
                    <form action="/search" method="POST">
                        <label for="query">{{ _("Search") }}</label>
                        <input type="text" name="query" id="query" />
                        <button type="submit" style="visibility: hidden"></button>
                    </form>
                </li>
                {% if not user %}
                <li><a href="/login">{{ _("Login") }}</a></li>
                <li><a href="/register">{{ _("Register") }}</a></li>
                {% else %}
                <li>
                    <a href="{{ '/profile/' ~ user.id_ }}">
                        <div class="my-profile">
                            {% if user.profile_picture %} {% set profile_picture_path = user.profile_picture %}
                            <img src="{{ url_for('static', filename=profile_picture_path) }}" alt="profile picture" /> {% endif %}
                            <p>{{ _("My profile") }}</p>
                        </div>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block body %} {% endblock %}
    <footer></footer>
</body>

</html>
