<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Social media" />
    <meta name="author" content="Radu-Alexandru Popa" />
    <meta name="description" content="Simple social media web application">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {% block extra_head %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header></header>
    {% block body %} {% endblock %}
    <footer></footer>
</body>

</html>