<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Social media" />
    <meta name="author" content="Radu-Alexandru Popa" />
    <meta name="description" content="Simple social media web application" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" />
    <script src="{{ url_for('static', filename='scripts/base.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/base_ajax.js') }}" defer></script>
    <script src="{{ url_for('babel_catalog') }}"></script>
    {% block extra_head %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="header-nav">
            <ul>
                <li>
                    <a href="/">
                        <img src="{{ url_for('static', filename='logo.png') }}" alt="{{ _('Logo') }}" id="logo" />
                    </a>
                </li>
                <li>
                    <form action="/search" method="POST">
                        <label for="query">{{ _("Search") }}</label>
                        <input type="text" name="query" id="query" />
                        <button type="submit" style="visibility: hidden"></button>
                    </form>
                </li>
                {% if not user %}
                <li><a href="/login">{{ _("Login") }}</a></li>
                <li><a href="/register">{{ _("Register") }}</a></li>
                {% else %}
                <li>
                    <div class="my-profile">
                        <a href="{{ '/profile/' ~ user.id_ }}" class="my-profile-menu">
								{% if user.profile_picture %} {% set profile_picture_path = user.profile_picture %}
								<img
									src="{{ url_for('static', filename=profile_picture_path) }}"
									alt="profile picture"
								/>
								{% endif %}
								<p>
									{{ _("My profile") }}
									<img
										src="{{ url_for('static', filename='assets/icons/arrow_drop_down.svg') }}"
										alt="drop down menu"
									/>
								</p>
							</a>
                        <div id="options-list">
                            <ul>
                                <li>
                                    {{ _("Online status") }}
                                    <img src="{{ url_for('static', filename='assets/icons/arrow_drop_down.svg') }}" alt="drop down menu" />
                                </li>
                                <li>
                                    {{ _("Switch account") }}
                                    <img src="{{ url_for('static', filename='assets/icons/arrow_drop_down.svg') }}" alt="drop down menu" />
                                </li>
                                <li>{{ _("Theme") }}</li>
                                <li>{{ _("Accessibility") }}</li>
                                <li>{{ _("More settings") }}</li>
                                <li>{{ _("Feedback") }}</li>
                                <li>
                                    <button type="submit" class="button-main" onclick="onLogoutPressed()">
											{{ _("Log out") }}
										</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block body %} {% endblock %}
    <footer>
        <div>
            <p>Made with &#9829; by Radu-Alexandru Popa (2022)</p>
            <ul>
                <li><a href="/docs">Documentation</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="https://github.com/radu781/FriendHub">GitHub</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>