{% extends "base.html" %} {% block title %} Documentation | FriendHub {% endblock %}{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/api.css') }}" />
<script src="{{ url_for('static', filename='scripts/index.js') }}" defer></script>
{% endblock %} {% block body %}
<div class="main">
    <div class="left"></div>
    <div class="middle">
        <h1>General documentation page</h1>
        <p>This page is only available in English and will not be translated into other languages</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum repellat impedit id eaque repudiandae a, tempora molestias commodi iusto dicta. Provident quidem obcaecati eaque iste nostrum eligendi quae nemo dolorum. Vero blanditiis culpa accusamus, quidem
        nisi eos necessitatibus incidunt amet nihil ea esse pariatur fugit fuga autem id accusantium maiores alias praesentium illum at eum, sint ullam dignissimos consequuntur? Beatae! Deserunt harum corrupti commodi esse voluptates, rem vitae atque
        rerum fugit quia ut pariatur facilis aspernatur similique temporibus ab placeat earum molestiae quam explicabo quis sunt iste. Vitae, accusamus asperiores. Earum at eligendi quod eveniet atque quis laboriosam, quas culpa iste. Repellat, porro
        nam quis laboriosam quaerat consequatur suscipit dolorem praesentium obcaecati amet iure quae animi culpa cumque alias voluptatibus! Nam magnam maxime suscipit error impedit perferendis dolores corrupti distinctio ad? Inventore eaque dolor molestias
        soluta ipsum, hic minima non at, fugit ut doloribus velit placeat pariatur architecto qui beatae? Cumque laborum atque magni incidunt aut cum natus, tenetur voluptatibus nulla eligendi, laudantium delectus cupiditate ratione illo iusto vitae aperiam
        autem illum. Porro dolorem, quos beatae incidunt voluptas expedita tempora! At, magnam beatae culpa quae voluptatibus odit voluptate deleniti pariatur inventore numquam ratione ullam debitis tempore repellendus, perferendis delectus sequi. Corrupti
        officiis laudantium cupiditate ex totam. Saepe nam dolorem blanditiis. Distinctio, commodi atque iste doloribus quidem consequatur? Voluptas aut pariatur exercitationem non amet aliquam soluta saepe qui totam optio hic, placeat odio sapiente.
        Consequuntur totam adipisci praesentium molestiae dicta sit? Dolorem voluptas eligendi nisi non, eveniet deleniti, laudantium excepturi vel cum aliquid quae temporibus! Fuga, sapiente corrupti? Similique quibusdam expedita rem, necessitatibus
        voluptatibus architecto cum omnis eius velit? Nemo, sequi. Corrupti quisquam dicta consequuntur voluptatem at, tempore rem voluptates exercitationem officia suscipit eveniet, quasi sequi repudiandae quos repellendus fugit. Ullam vero nesciunt
        sapiente fugit natus quaerat quod, ipsum dignissimos necessitatibus.
    </div>
    <div class="right"></div>
</div>
{% endblock %}