{% extends "base.html" %} {% block title %} Main page {% endblock %} {% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
<script src="{{ url_for('static', filename='scripts/index.js') }}" defer></script>{% endblock %} {% block body %}
<div class="upload-form">
    <p class="upload-form-title">{{ _("Create post") }}</p>
    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <textarea name="text" id="text" placeholder="{{ _('Share your thoughts') }}" required></textarea>
        <div class="line-align">
            <span>{{ _("Attach media") }}</span>
            <div class="media-icons">
                <label for="image-upload"><img
						src="{{ url_for('static', filename='assets/icons/photo_icon.svg') }}"
						class="pointer-cursor circular-highlight"
						alt="photo"
						title="{{ _('Upload an image') }}"
				/></label>
                <input type="file" name="image-upload" id="image-upload" accept="image/*" style="display: none" />

                <label for="video-upload"><img
						src="{{ url_for('static', filename='assets/icons/video_icon.svg') }}"
						class="pointer-cursor circular-highlight"
						alt="video"
						title="{{ _('Upload a video') }}"
				/></label>
                <input type="file" name="video-upload" id="video-upload" accept="video/*" style="display: none" />

                <label for="audio-upload"><img
						src="{{ url_for('static', filename='assets/icons/music_note_icon.svg') }}"
						class="pointer-cursor circular-highlight"
						alt="audio"
						title="{{ _('Upload an audio file') }}"
				/></label>
                <input type="file" name="audio-upload" id="audio-upload" accept="audio/*" style="display: none" />
            </div>
        </div>
        <button type="submit" id="submit-post-button">{{ _('Post') }}</button>
    </form>
</div>
{% endblock %}