{% extends "base.html" %} {% block title %} Main page {% endblock %} {% block extra_head %}
<link rel="stylesheet" href="https://fonts.googleapi    s.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />{% endblock %} {% block body %}
<form action="/api/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="text" id="text" placeholder="{{ _('Share your thoughts') }}" />
    <div class="line-align">
        <label for="image-upload"><span class="material-symbols-outlined" title="{{ _('Upload an image') }}">image </span></label
		>
		<input type="file" name="image-upload" id="image-upload" accept="image/*" style="display: none" />

		<label for="video-upload"
			><span class="material-symbols-outlined" title="{{ _('Upload a video') }}"> videocam </span></label
		>
		<input type="file" name="video-upload" id="video-upload" accept="video/*" style="display: none" />

		<label for="audio-upload"
			><span class="material-symbols-outlined" title="{{ _('Upload music') }}"> music_note </span></label
		>
		<input type="file" name="audio-upload" id="audio-upload" accept="audio/*" style="display: none" />
	</div>
    <button type="submit">Post</button>
</form>
{% endblock %}