<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Social media" />
    <meta name="author" content="Radu-Alexandru Popa" />
    <meta name="description" content="Simple social media web application" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon" />
    <script src="{{ url_for('babel_catalog') }}"></script>
    <title>Redirect page</title>
    <script src="{{ url_for('static', filename='scripts/runner.js') }}"></script>
</head>


<body onload="run('{{script}}')">
</body>