{% extends "base.html" %} {% block title %} {{ _("Login") }} | FriendHub {% endblock %} {% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}" />
<script type="module" src="{{ url_for('static', filename='scripts/auth/login.js') }}" defer></script>
<script src="{{ url_for('babel_catalog') }}"></script>
{% endblock %} {% block body %}
<div class="main">
    <div class="left"></div>
    <div class="middle">
        <div id="inputs">
            <label for="email">{{ _("Email address") }}</label>
            <input type="text" name="email" id="email" required />
            <label for="password">{{ _("Password") }}</label>
            <input type="password" name="password" id="password" required />
            <button type="submit" style="visibility: hidden"></button>
        </div>
        <div id="status"></div>
    </div>
    <div class="right"></div>
</div>

{% endblock %}