{% extends "base.html" %} {% block title %} {{ user.first_name }}'s profile {% endblock %} {% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}" /> {% endblock %} {% block body %}
<div class="main">
    <div class="left"></div>
    <div class="middle">
        <div class="user-profile">
            <img src="{{ url_for('static', filename='assets/images/default_banner_picture.jpg') }}" class="banner-img" alt="banner">
            <div class="alignment">

                <div class="profile-and-name"> {% if user.profile_picture %} {% set profile_picture_path = user.profile_picture %}
                    <img src="{{ url_for('static', filename=profile_picture_path) }}" class="user-profile-picture" alt="profile picture" /> {% endif %}
                    <p>{{ user.first_name }} {{ user.middle_name or "" }} {{ user.last_name }}</p>
                </div>
                <div class="profile-and-name-buttons">
                    <button type="submit" class="pointer-cursor">Add friend</button>
                </div>
            </div>
            <div class="short-info">
                <p> Location: {{ user.city }}, {{ user.country }} </p>
                <p> Education: {{ user.education }} </p>
            </div>
        </div>
    </div>
    <div class="right"></div>
</div>
{% endblock %}