{% extends "base.html" %} {% block title %} {{ user.first_name }} | FriendHub {% endblock %} {% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}" /> {% endblock %} {% block body %}
<div class="main">
    <div class="left"></div>
    <div class="middle">
        {% if target_user %}
        <div class="user-profile">
            <img src="{{ url_for('static', filename='assets/images/default_banner_picture.jpg') }}" class="banner-img" alt="banner" />
            <div class="alignment">
                <div class="target_user-and-name">
                    {% if target_user.profile_picture %} {% set profile_picture_path = target_user.profile_picture %}
                    <img src="{{ url_for('static', filename=profile_picture_path) }}" class="user-profile-picture" alt="profile picture" /> {% endif %}
                    <p>{{ target_user.first_name }} {{ target_user.middle_name or "" }} {{ target_user.last_name }}</p>
                </div>
                {% if user.id_ != target_user.id_ and user.id_ %}
                <div class="profile-and-name-buttons">
                    <form action="/api/relationship/" method="post">
                        <button type="submit" class="pointer-cursor">Add friend</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="short-info">
                <p>
                    Location: {% if target_user.city and target_user.country %} {{ target_user.city }}, {{ target_user.country }} {% elif target_user.city or target_user.country %} {{ target_user.city or target_user.country }} {% else %} {{ _("Unspecified") }} {% endif %}
                </p>
                <p>Education: {{ target_user.education or _("Unspecified") }}</p>
            </div>
        </div>
        {% else %}
        <div>User not found</div>
        {% endif %}
    </div>
    <div class="right"></div>
</div>
{% endblock %}