{% extends "base.html" %} {% block title %} {{ _("Register") }} | FriendHub {% endblock %} {% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}" />
<script type="module" src="{{ url_for('static', filename='scripts/auth/register.js') }}" defer></script>
{% endblock %}{% block body %}
<div class="main">
    <div class="left"></div>
    <div class="middle">
        <div id="inputs">
            <div class="account-details">
                <p>{{ _("Account information") }}</p>
                <label for="email" class="mandatory-field">{{ _("Email address") }}</label>
                <input type="text" name="email" id="email" required />
                <label for="password" class="mandatory-field">{{ _("Password") }}</label>
                <input type="password" name="password" id="password" required />
                <label for="password-confirm" class="mandatory-field">{{ _("Confirm password") }}</label>
                <input type="password" name="password-confirm" id="password-confirm" required />
            </div>
            <div class="more-details">
                <p>{{ _("More information") }}</p>
                <label for="first-name" class="mandatory-field">{{ _("First name") }}</label>
                <input type="text" name="first-name" id="first-name" required />
                <label for="middle-name">{{ _("Middle name") }}</label>
                <input type="text" name="middle-name" id="middle-name" />
                <label for="last-name">{{ _("Last name") }}</label>
                <input type="text" name="last-name" id="last-name" />
                <label for="country">{{ _("Country") }}</label>
                <input type="text" name="country" id="country" />
                <label for="city">{{ _("City") }}</label>
                <input type="text" name="city" id="city" />
            </div>
        </div>
        <div id="status"></div>
    </div>
    <div class="right"></div>
</div>

{% endblock %}