.type-and-name {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 10px;
}

.type-and-name>span {
    margin-right: 10px;
}

.params>p {
    font-weight: bold;
    margin-top: 10px;
}

.params~.params {
    margin-top: 10px;
}

.responses {
    display: flex;
    flex-direction: column;
}

.request {
    margin: 25px 0px;
}

.endpoint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #839de4;
    padding: 5px;
}

.endpoint>img {
    width: 24px;
}

table {
    width: 100%;
}

td {
    width: 33%;
    border-bottom: 1px solid #445a9b;
}

span.get {
    color: greenyellow;
    text-transform: uppercase;
}

span.post {
    color: orange;
    text-transform: uppercase;
}

span.delete {
    color: red;
    text-transform: uppercase;
}

span.string {
    color: orange;
}

span.number {
    color: aqua;
}

span.punctuation {
    color: white;
}