* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    transition: background-color border-radius 250ms;
    cursor: pointer;
    padding: 5px 10px;
}

.button-main:hover {
    background-color: #445a9b;
    transition: background-color 250ms;
    border-radius: 5px;
}

.header-nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    align-items: center;
}

.header-nav {
    padding: 10px 0px;
    background-color: #9e97ea;
    border-bottom: 1px solid #445a9b;
}

input[type="text"],
input[type="password"] {
    border-radius: 5px;
    border: 1px solid #445a9b;
}

a,
a * {
    text-decoration: none;
    color: black;
    transition: color 250ms;
}

a:hover,
a *:hover {
    cursor: pointer;
    color: #445a9b;
    transition: color 250ms;
}

span.bold {
    font-weight: bold;
}

span.italics {
    font-style: italic;
}

#logo {
    width: 64px;
}

.pointer-cursor {
    cursor: pointer;
}

.my-profile>a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.my-profile>a>p {
    display: flex;
    align-items: center;
}

.my-profile>a>p>img {
    width: 32px;
    height: 32px;
}

.my-profile>a>img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.my-profile>#options-list {
    display: none;
    position: absolute;
    float: left;
    background-color: #839de4;
    border-color: #445a9b;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 5px 20px;
}

.my-profile>#options-list>ul>li:nth-child(2n) {
    border-top: 1px solid #445a9b;
    border-bottom: 1px solid #445a9b;
}

.my-profile>#options-list>ul>li:last-child {
    border-bottom: none;
}

.my-profile>#options-list>ul>li {
    padding: 5px 0px;
}

#options-list>ul>li>img {
    width: 24px;
    height: 24px;
}

#options-list>ul>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.circular-highlight:hover {
    background-color: burlywood;
    border-radius: 50%;
    transition: all 250ms;
}

.circular-highlight {
    transition: all 250ms;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: #6779aa;
}

.left {
    width: 25%;
}

.middle {
    width: 50%;
    padding: 10px;
}

.right {
    width: 25%;
}

@media screen and (max-width: 1200px) {
    .left {
        width: 0%;
        display: none;
    }
    .middle {
        width: 75%;
    }
}

@media screen and (max-width: 700px) {
    .left {
        width: 0%;
        display: none;
    }
    .middle {
        width: 100%;
    }
    .right {
        width: 0%;
        display: none;
    }
}

@media (pointer: none),
(pointer: coarse) {
    .left {
        position: absolute;
        top: -100%;
    }
    .right {
        position: absolute;
        top: -100%;
    }
    .middle {
        width: 100%;
    }
}
