.upload-form {
    margin-top: 20px;
    background-color: rgb(139, 189, 206);
    border-radius: 10px;
    border: 1px solid #445a9b;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin-top: -2px;
}

.upload-form>form {
    width: 100%;
}

#text {
    height: 5rem;
    width: 100%;
    border: none;
    background-color: rgb(139, 189, 206);
    outline: none;
}

#submit-post-button {
    padding: 5px 10px;
    width: 100%;
    background-color: #839de4;
    color: #6d6d6d;
    border: none;
    border-radius: 10px;
}

textarea {
    resize: none;
}

.line-align {
    display: flex;
    justify-content: space-between;
}

.line-align>span {
    word-wrap: break-word;
}

label>img {
    width: 24px;
}

.post-frame {
    border-radius: 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    border: 1px solid #445a9b;
}

.post-vote-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #839de4;
    width: 2.5%;
    padding: 10px 10px;
    border-radius: 10px 0px 0px 10px;
}

.post-vote-side>p {
    margin: 0;
    text-align: center;
}

.post-vote-side>p>img,
.post-main>.post-extra>img {
    width: 24px;
    height: 24px;
}

.post-extra {
    margin-top: 10px;
}

.post-main {
    padding: 10px;
    background-color: white;
    width: 100%;
    border-radius: 0px 10px 10px 0px;
}

.post-main>p {
    margin-top: 10px;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-user-profile>img {
    width: 48px;
    height: 48px;
}

.post-user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    transition: 250ms;
}

.post-user-profile>p {
    margin: 0px 10px;
}

.user-image-upload {
    width: 100%;
}

.user-video-upload {
    width: 100%;
}

@-webkit-keyframes rotating {
    to {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    from {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

@media screen and (max-width: 1300px) {
    .post-vote-side {
        width: 5%;
    }
}

@media screen and (max-width: 500px) {
    .post-vote-side {
        width: 7%;
    }
}