.bad-input {
    color: red;
    font-weight: bold;
}

.good-input {
    color: greenyellow;
    font-weight: bold;
}

#inputs {
    display: flex;
    flex-direction: column;
    background-color: rgb(139, 189, 206);
    padding: 10px;
}