form {
    display: flex;
    justify-content: space-evenly;
}

.account-details {
    display: flex;
    flex-direction: column;
    background-color: rgb(139, 189, 206);
    padding: 10px;
}

.mandatory-field::after {
    content: "*";
    color: red;
}

.more-details {
    display: flex;
    flex-direction: column;
    background-color: rgb(139, 189, 206);
    padding: 10px;
}

.account-details>input,
.more-details>input {
    margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
    form {
        flex-direction: column;
    }
}